@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* inherit font so you can define styles 
  for h1, h* elements instead of rely on user 
  agent defaults */
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
select,
textarea {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 100%;

  /* removes system-level styling */
  appearance: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*********************** STYLES START HERE ***********************/

:root {
  font-size: 1em;

  --ff-primary: "Roboto", sans-serif;

  --fs-heading: 1.75rem;

  --fw-standard: 400;
  --fw-bold: 700;

  --clr-primary: rgb(1, 169, 253);
  --clr-main-bg: rgb(230, 230, 230);
  --clr-accent: goldenrod;

  --clr-font-accent: gray;

  --border-radius: 7px;
}

* {
  font-family: var(--ff-primary);
}

body {
  background-color: #000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;

  max-width: 75%;
  margin: 0 auto;
}

/*********************** HEADER ***********************/

.header-container {
  grid-row: 1 / 2;
  padding: 1rem 2rem;
  background-color: #fff;
}

.header-container > * + * {
  margin-top: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

input[type="search"] {
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;

  padding: 0.25rem 1rem;
  margin-right: auto;

  width: 55%;
}

input[type="search"]:focus {
  outline: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.avatar-sm {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.avatar-lg {
  height: auto;
  width: 75px;
  border-radius: 50%;
}

.user-name {
  font-weight: var(--fw-bold);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  /* justify-content: space-between; */
}

.greeting {
  font-weight: var(--fw-bold);
  font-size: 1.25rem;
  margin-right: auto;
}
.greeting > span {
  display: block;
  font-size: 0.9rem;
}

.action-buttons {
  display: flex;
  gap: 1.5rem;
}

/* buttons */
.btn {
  width: 100px;
  background-color: var(--clr-primary);
  padding: 0.5rem 0;
  color: #fff;
  border-radius: 20px;
  border: none;
}

/*********************** SIDEBAR ***********************/

.sidebar {
  background-color: var(--clr-primary);
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding: 1rem;
}

.dashboard-icon {
  height: auto;
  width: 50px;
}

.icon {
  height: auto;
  width: 25px;
  display: inline-block;
}

.sidebar-heading .heading-text {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
}

.sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
}

.menu {
  margin-top: 2.5rem;
}

.menu,
.options {
  list-style-type: none;
  margin-left: 0.75rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin: 1rem 0;
}

.menu-item > a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
}

.options {
  margin-top: 5rem;
}

/*********************** MAIN ***********************/

.main-container {
  background-color: var(--clr-main-bg);
  box-shadow: 0px 11px 8px -10px gray inset;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: repeat(2, auto); */
  grid-template-rows: auto 1fr;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

.projects-heading {
  font-size: 1.25rem;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-container h2 {
  font-weight: var(--fw-bold);
}

.projects {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(auto, 200px);
  /* grid-auto-rows: max-content; */
  gap: 1.5rem;
}

.project-card {
  border-left: 8px solid var(--clr-accent);
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 5px 5px 5px 0px lightgray;
}

.card-text {
  flex: 1;
}

.card-text > p {
  color: var(--clr-font-accent);
  line-height: 1.2;
  font-size: 0.9rem;
}

.icon-row {
  margin: auto 0;
  display: flex;
  gap: 1.5rem;

  justify-content: end;
}

/*********************** MAIN ASIDE ***********************/

.announcements-heading {
  font-size: 1.25rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-aside {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.announcement-card {
  background-color: #fff;
  border-radius: var(--border-radius);

  padding: 1.5rem;

  box-shadow: 5px 5px 5px 0px lightgray;
}

.announcement-text > h3 {
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
}

.announcement-text > p {
  font-size: 0.75rem;
  color: var(--clr-font-accent);
}

.announcement-card > :not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.announcement-card > :not(:last-child) {
  padding-bottom: 0.75rem;
}

.announcement-card > :not(:first-child) {
  padding-top: 0.75rem;
}

/* trending */

.trending {
  margin-top: 1.5rem;
}

.trending-heading {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.trending-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 1rem;

  box-shadow: 5px 5px 5px 0px lightgray;
}

.trending-row {
  display: flex;
  align-items: center;

  gap: 0.75rem;

  line-height: 1.3;
}

.trending-card > :not(:first-child) {
  margin-top: 0.75rem;
}

.trending-text .user-name {
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
}

.trending-text .project-description {
  font-size: 0.8rem;
  color: var(--clr-font-accent);
}
