<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Todos | Odin</title>
</head>

<body>
    <!-- <div id="content"> -->

    <!-- header -->

    <header class="page-header">
        <h1 class="header-heading">Todos</h1>
    </header>

    <!-- project sidebar -->

    <aside class="projects-sidebar">
        <h2 class="projects-heading">Projects</h2>
        <ul class="project-list">
            <li class="project-item"><button type="button" class="project-btn">Project 1</button></li>
            <li class="project-item"><button type="button" class="project-btn">Project 2</button></li>
            <li class="project-item"><button type="button" class="project-btn">Project 3</button></li>
        </ul>
        <button type="button" class="add-project-btn">Add project &#43;</button>
    </aside>


    <!-- todo content -->

    <main class="todo-content">

        <button type="button" class="add-todo">Add todo &#43;</button>

        <div class="todo-nav">
            <ul class="priority-list">
                <li class="priority-category all-category"><button type="button" class="priority-btn">All</button>
                </li>
                <li class="priority-category important-category"><button type="button"
                        class="priority-btn">Important</button></li>
                <li class="priority-category normal-category"><button type="button" class="priority-btn">Normal</button>
                </li>
                <li class="priority-category backlog-category"><button type="button"
                        class="priority-btn">Backlog</button></li>
            </ul>
        </div>

        <!-- todo section w/accordian -->

        <div class="todo-list">
            <div class="list-item">
                <div class="list-flex">
                    <button type="button" class="task-collapsed">
                        Walk title
                    </button>
                    <span class="due-date">12/25/2023</span>
                    <img class="task-icon edit-icon" src="./assets/edit.svg" alt="edit todo" id="edit-icon">
                    <img class="task-icon delete-icon" src="./assets/delete.svg" alt="delete todo" id="delete-icon">
                </div>
                <div class="task-expanded">
                    <p>
                        Walk the dogs around the block until they use the bathroom. Walk the dogs around the block
                        until they use the bathroom. Walk the dogs around the block until they use the bathroom.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <ul class="icon-list">
            <li><img src="./assets/github.svg" alt="github"></li>
            <li><img src="./assets/linkedin.svg" alt="linkedin"></li>
            <li><img src="./assets/facebook.svg" alt="facebook"></li>
        </ul>
    </footer>


    <!-- Add task modal -->

    <dialog class="task-modal" id="task-modal">

        <h2>Add a task</h2>
        <button class="modal-close" id="close-task-modal">Close</button>

        <form action="#" method="post" class="form">
            <div class="form-row">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
            </div>
            <div class="form-row">
                <label for="description">Description</label>

                <textarea name="description" id="description" rows="5" required></textarea>
            </div>
            <div class="form-row">
                <label for="due-date">Due date</label>
                <input type="date" name="due-date" id="due-date" min="1" required>
            </div>

            <!-- Priority fieldset -->

            <fieldset class="priority-section">
                <legend class="legend">Priority</legend>

                <div class="radio-row">
                    <input class="radio" type="radio" id="important" name="priority" value="important">
                    <label for="important">Important</label>
                </div>

                <div class="radio-row">
                    <input class="radio" type="radio" id="normal" name="priority" value="normal" checked>
                    <label for="normal">Normal</label>
                </div>

                <div class="radio-row">
                    <input class="radio" type="radio" id="backlog" name="priority" value="backlog">
                    <label for="backlog">Backlog</label>
                </div>

            </fieldset>

            <button type="submit" class="submit-modal-form btn">Add Todo</button>
        </form>
    </dialog>


    <!-- Add project modal -->

    <dialog class="project-modal" id="project-modal">

        <h2>Add a project</h2>
        <button class="modal-close" id="close-project-modal">Close</button>

        <form action="#" method="post" class="form">
            <div class="form-row">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" required>
            </div>
            <button type="submit" class="submit-modal-form btn">Add Project</button>
        </form>
    </dialog>


</body>

</html>