@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* inherit font so you can define styles 
  for h1, h* elements instead of rely on user 
  agent defaults */
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
select,
textarea {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 100%;

  /* removes system-level styling */
  appearance: none;
}

/**********************************************
* My styles
***********************************************/

:root {
  font-size: 1em;
  --ff-primary: "Roboto", sans-serif;

  --fs-header: 3rem;
  --fs-modal-header: 2.5rem;
  --fs-marker: 7rem;
  --fs-game-info: 1.5rem;
  --fs-button: 2rem;
  --fs-form-label: 1.25rem;

  --fw-bold: 700;

  --grid-gap: 0.5rem;

  --clr-background: lightgray;
  --clr-form-border: #b6b8ba;
}

body {
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
}

.page-header {
  background-color: #000;
  padding: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__title {
  color: #fff;
  font-size: var(--fs-header);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content > * {
  margin-top: 2rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* max-width: 450px; */
  text-align: center;
}

.game-info .game-btn {
  font-size: var(--fs-game-info);

  width: 25rem;

  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;

  padding: 0.25rem 0;
}

.game-info .game-btn:hover {
  background-color: var(--clr-background);
  color: #000;

  outline: 2px solid black;
}

.game-info .announcement {
  font-size: var(--fs-game-info);

  margin-top: 1.5rem;

  font-weight: var(--fw-bold);
}

.game-container {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: var(--grid-gap);

  background-color: black;
}

button {
  border: none;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-size: var(--fs-marker);

  background-color: var(--clr-background);
}

.grid-cell:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/**********************************
* Modal
***********************************/

.modal {
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  --max-width: 30rem;
  --side-padding: 1rem;

  height: 50%;
  width: min(var(--max-width), 100% - var(--side-padding) * 2);
  padding: 3rem;
  border: none;
  border-radius: 5px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;

  top: 0.3rem;
  right: 0.3rem;

  padding: 1rem;
  border: none;
  height: 1rem;
  width: 1rem;

  text-indent: 10em;
  overflow: hidden;
  background-color: transparent;
}

.modal-close::after {
  position: absolute;
  line-height: 0.5;
  top: 0.3rem;
  right: 0.3rem;
  text-indent: 0;
  font-size: 2.5rem;
  cursor: pointer;

  content: "\00d7";
}

.modal-header {
  font-size: var(--fs-modal-header);
  text-align: center;
}

.modal-button {
  font-size: var(--fs-button);
  color: #fff;
  background-color: #000;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.modal-button:hover {
  background-color: #fff;
  color: #000;
  border: none;

  outline: 2px solid black;
}

/**********************************
* Rematch modal
***********************************/

.modal-text {
  margin-top: 3rem;
  font-size: var(--fs-game-info);
}

.rematch-buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 3rem;
}

/**********************************
* New game modal
***********************************/

.modal-form {
  vertical-align: center;
}
.modal-form > :not(:first-child) {
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > label {
  display: block;
  padding: 0.25rem 0;
  font-size: var(--fs-form-label);
}

.form-group > input {
  width: 100%;

  border: 1px solid var(--clr-form-border);
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
}

.form-group > input::placeholder {
  color: var(--clr-form-border);
}

.modal-form > .start-game {
  width: 100%;
}
